* {
    box-sizing: border-box;
}

h1,
h2 {
    margin: 0;
}

body {
    background-color: #ffebcd;
    font-family: Candara, Helvetica, sans-serif;
    color: #ff7474;
    margin: 0;
    padding: 10px 40px 40px 40px;
}

header {
    align-items: center;
    font-size: 20px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#logoImg {
    height: 150px;
    pointer-events: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85030B;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.15), 2px 3px 2px rgba(0, 0, 0, 0.15);
}

.menu a {
    padding: 14px;
    color: #ff7474;
    text-decoration: none;
    font-style: bold;
}

.menu a:hover {
    background-color: #ff7474;
    color: #85030B;
    transition: background-color 350ms;
}

.col_esq {
    float: left;
    width: 75%;
}

.col_dir {
    float: left;
    width: 25%;
    padding-left: 20px;
}