* {
    box-sizing: border-box;
}

h1,
h2 {
    margin: 0;
}

body {
    background-color: #ffebcd;
    font-family: Candara, Helvetica, sans-serif;
    color: #ff7474;
    margin: 0;
    padding: 10px 50px 50px 50px;
}

header {
    align-items: center;
    font-size: 20px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#logoImg {
    height: 150px;
    pointer-events: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85030B;
    border-radius: 3px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.15), 2px 3px 2px rgba(0, 0, 0, 0.15);
}

.menu a {
    display: block;
    padding: 14px;
    color: #ff7474;
    text-decoration: none;
    font-style: bold;
}

.menu a:hover {
    background-color: #ff7474;
    color: #85030B;
    transition: background-color 350ms;
}

.col_esq {
    float: left;
    width: 75%;
}

.col_dir {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.15), 2px 3px 2px rgba(0, 0, 0, 0.15);
}

#promo1 {
    height: 200px;
    background-image: url(images/espaguete.jpg);
    background-size: 300%;
    background-position: center;
    position: relative;
    color: #ffebcd;
    text-shadow: 1px 1px 4px #85030B, -1px -1px 4px rgb(255, 61, 74);
    transition: box-shadow 300ms;
    cursor: pointer;
    font-size: 1vw;
}

#promo1:hover {
    box-shadow: 8px 8px 10px rgba(255, 61, 74, 0.7);
}

#frase1 {
    position: absolute;
    bottom: 27px;
    right: 10px;
}

.sobreImg {
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0px 0px 5px #888888;
    cursor: pointer;
    transition: box-shadow 500ms;
}

.sobreImg:hover {
    box-shadow: 2px 2px 10px rgba(255, 61, 74, 1), -2px -2px 10px rgba(255, 61, 74, 1);
}

.sobreItens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sobreTexto a {
    color: #ff7474
}

.promocao {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1vw;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow 300ms;
}

.promocao img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.promocao:hover {
    box-shadow: 2px 2px 10px rgba(255, 61, 74, 1), -2px -2px 10px rgba(255, 61, 74, 1);
}

.social {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    transition: opacity 300ms;
}

.social img {
    height: 70px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.social img:hover {
    opacity: 60%;
    box-shadow: 1px 1px 5px #ff7474, -1px -1px 5px #ff7474;
}

.produto img {
    height: 120px;
    border-radius: 50%;
    border: 1px dashed #ff7474;
    margin-top: 5px;
    padding: 10px;
}

.produto {
    text-align: center;
    margin: 20px;
    cursor: pointer;
    transition: box-shadow 300ms;
    font-size: 20px;
}

.produto p {
    margin: 0px;
}

.titleProd {
    font-weight: bold;
}

.produto:hover {
    box-shadow: 5px 10px 15px #ff7474;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-area: 10px;
}

.miniGrid {
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
}

.somosImg {
    height: 150px;
    border-radius: 5%;
    margin: 10px;
    box-shadow: 0px 0px 5px #888888;
    cursor: pointer;
    transition: box-shadow 500ms;
}

.subCard {
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.subCard:hover {
    box-shadow: 2px 2px 10px rgba(255, 61, 74, 1), -2px -2px 10px rgba(255, 61, 74, 1);
}

.somosItens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 20px;
}

.descriSomos {
    font-size: 1.2vw;
    text-align: justify;
    padding: 5px;
}

#somosTexto h1 {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 3rem;
}

.disclaimer {
    font-style: italic;
    font-size: 1vw;
}

.disclaimer a {
    color: #ff7474;
    font-weight: bold;
}

#entrega {
    position: fixed;
    bottom: 0px;
    right: 10px;
    height: 100px;
    width: 300px;
}

#entrega img {
    position: absolute;
    right: 10px;
    border-radius: 50%;
    height: 50px;
    border: #ff7474 solid 1px;
}

#tel {
    position: absolute;
    height: 60px;
    background-color: #85030B;
    color: #ff7474;
    padding: 10px;
    left: 16px;
    border-radius: 15px;
    opacity: 0%;
    transition: opacity 300ms;
}

#entrega img:hover+#tel {
    opacity: 100%;
}

#tel p {
    margin: 0px;
}

.social2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    transition: 300ms;
    font-size: 1.3vw;
}

.social2 img {
    height: 150px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    .col_esq {
        float: none;
        width: 100%;
    }

    .col_dir {
        float: none;
        width: 100%;
        padding: 0;
    }

    #logoImg {
        aspect-ratio: 128/72;
        width: 200px;
        height: fit-content;
    }

    .menu {
        display: grid;
        justify-items: center;
        flex-wrap: wrap;
        font-size: 4vw;
    }

    #promo1 {
        font-size: 4vw;
        margin-top: 0;
        width: 100%;
    }

    #frase1 {
        font-size: 4vw;
        padding: 5px;
    }

    .promocao {
        font-size: 3vw;
    }

    .social2 {
        font-size: 4vw;
    }

    .descriSomos {
        font-size: 4vw;
    }

    .disclaimer {
        font-size: 3vw;
    }
}

@media screen and (max-width: 450px) {
    body {
        padding: 5px 25px 25px 25px;
    }


}